.SideMenu {

    height: 100%;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transition: width 0.1s ease-in-out;
    transition-delay: 0.05s;
    white-space: nowrap;
}



.SideMenu.close {
    width: 0;
    transition: padding 0.1s ease-in-out;
}

.SideMenu.open {
    transition: padding 0.5s ease-in-out;
    padding: 60px 20px;
}

.SideMenu li.link.active {


    color: #CCFF00;
    text-wrap: nowrap;



}


@media (min-width:1200px) {
    .SideMenu {
        width: 255px;
    }

}